<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>todos</ion-title>
    </ion-toolbar>
    <ion-item lines="none">
      <ion-input placeholder="What needs to be done?" (keyup)="addTodo($event)"></ion-input>
    </ion-item>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let todo of todos">
        <ion-checkbox slot="start" [checked]="todo.isCompleted" (click)="toggleTodo(todo)"></ion-checkbox>
        <ion-label>{{todo.text}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer class="ion-no-border">
    <ion-item lines="none">
      <ion-label slot="start">{{itemsLeft()}}</ion-label>
    </ion-item>
  </ion-footer>
</ion-app>
